#wrap {
	background: rgba(0,0,0,0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
#inner {
	border-radius: 6px;
	position: relative;
	background: white;
	width: 800px;
	height: 480px;
	flex: initial;
	padding: 2rem;
	overflow: hidden;
}
#inner > strong {
	display: block;
	font-size: 1.5rem;
	color: #111;
	padding-bottom: 1rem;
}

.visible {
	display: block !important;
}

.invisible {
	display: none !important;
}

.clear {
	clear: both;
}