
<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/admin.css" />

<script>
	document.addEventListener('DOMContentLoaded', init);

	var currentCollection = '{{collection}}' || 'bands';

	function init() {
		loadCollection(currentCollection);

		
		var addTpl = $('#template-add-band').textContent;

		$('#button-add').addEventListener('click', function() {
			$('main').innerHTML = addTpl;
		});

		$('#button-remove-all').addEventListener('click', function() {
			var c = confirm('Určite odstranit vše?');
			if (!c) return;

			// xhr.open('get', '/api/bands/remove-all', true);
		});

		document.addEventListener('click', function(e) {
			var t = e.target;
			if (!t.id || !t.id.match(/^nav\-/)) return;

			var collection = t.id.replace('nav-', '');
			loadCollection(collection);
			e.preventDefault();
		});

		function loadCollection(collection) {
			var xhr = new XMLHttpRequest();
			xhr.open('post', './list/' + collection, true);
			xhr.onload = function() {
				var data = saveParse(this.response);
				if (!data) {
					alert('Unknown error');
				} else if (data.error) {
					alert(data.error);
				} else {
					currentCollection = collection;
					renderData(data);
				}
			}
			xhr.send(null);
		}

		document.addEventListener('click', function(e) {
			var t = e.target;

			if (t.classList.contains('item-delete')) {
				var c = confirm('Určitě chete odstranit tuto položku??');
				if (!c) return;
				location.href = './delete/Uzivatele/' + t.dataset.id;
			}
		});

		function renderData(data) {
			var tpl = document.querySelector('#template-item').textContent;
			var main = document.querySelector('main');
			main.innerHTML = '';

			for (var i=0; i<data.length; i++) {
				main.innerHTML += template(tpl, data[i]);
			}
		}

	}
</script>

<nav>
	<div class="center">
		<a href="./wall">Zeď</a>
		<a id="nav-bands">Hudba</a>
		<a id="nav-musicians">Hudebníci</a>
		<a id="nav-publishers">Vydavatelství</a>
		<a id="nav-users">Uživatelé</a>
	</div>
</nav>
<header>
		<input type="search" placeholder="Zadejte hledaný výraz" /><input id="button-search" type="button" value="&nbsp;" />
</header>

<div class="center" id="buttons">
	<div class="button" id="button-add">Přidat</div>
	<div class="button" id="button-remove-all">Odstranit vše</div>
</div>

<main>
	Loading...
</main>

<script type="text/template" id="template-item">
	<div class="list-item">
		<div class="item-name"><%= nick %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-add-band">
	Add band
	<div class="button">Cancel</div>
</script>
