
<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/admin.css" />

<script>
	document.addEventListener('DOMContentLoaded', init);

	var currentCollection = '{{collection}}' || 'Skupiny';
	var currentID = 0;

	function loadCollection(collection, specialID) {
		var xhr = new XMLHttpRequest();
		if (specialID) {
			xhr.open('post', './list/' + collection +'/' + specialID, true);
		} else {
			xhr.open('post', './list/' + collection, true);	
		}
		
		xhr.onload = function() {
			var data = saveParse(this.response);
			if (!data) {
				alert('Unknown error');
			} else if (data.error) {
				alert(data.error);
			} else {
				currentCollection = collection;
				currentID = specialID;
				renderData(data);
			}
		}
		xhr.send(null);
	}

	function addItem(data) {
		var xhr = new XMLHttpRequest();
		xhr.open('post', './add/' + currentCollection, true);
		xhr.onload = function(e) {
			var data = saveParse(this.response);
			if (!data) {
				$('main').innerHTML = 'Neznáma chyba. Položka nebyla přidána.';
			} else if (data.error) {
				$('main').innerHTML = 'Chyba: ' + data.error;
			} else {
				$('main').innerHTML = 'Položka úspěšna přidána';
				setTimeout(loadCollection, 1000, currentCollection, currentID);
			}
		}
		xhr.send(data);
	}

	function renderData(data) {
		var tpl = document.querySelector('#template-item-' + currentCollection.toLowerCase()).textContent;
		var main = document.querySelector('main');
		main.innerHTML = '';

		for (var i=0; i<data.length; i++) {
			main.innerHTML += template(tpl, data[i]);
		}
	}

	function init() {
		loadCollection(currentCollection);

		
		$('#button-add').addEventListener('click', function() {
			var addTpl = $('#template-add-' + currentCollection.toLowerCase()).textContent;
			$('main').innerHTML = template(addTpl, { 'special_id': currentID });
		});

		$('#button-remove-all').addEventListener('click', function() {
			var c = confirm('Určite odstranit vše?');
			if (!c) return;

			// xhr.open('get', '/api/bands/remove-all', true);
		});

		document.addEventListener('click', function(e) {
			var t = e.target;
			if (!t.id || !t.id.match(/^nav\-/)) return;

			var collection = t.dataset.collection;
			loadCollection(collection);
			e.preventDefault();
		});

		



		document.addEventListener('click', function(e) {
			var t = e.target;

			if (t.classList.contains('item-delete')) {
				var c = confirm('Určitě chete odstranit tuto položku??');
				if (!c) return;
				location.href = './delete/' + currentCollection + '/' + t.dataset.id;
			} else if (t.id == 'ajax-form-cancel') {
				loadCollection(currentCollection);
			} else if (t.id == 'ajax-form-add') {
				var data = new FormData($('#ajax-form'));
				addItem(data);
			}
		});



	}
</script>

<nav>
	<div class="center">
		<a href="./wall">Zeď</a>
		<a id="nav-bands" data-collection="Skupiny">Hudba</a>
		<a id="nav-musicians" data-collection="Clenove">Hudebníci</a>
		<a id="nav-publishers" data-collection="Vydavatele">Vydavatelství</a>
		<a id="nav-users" data-collection="Uzivatele">Uživatelé</a>
	</div>
</nav>
<header>
		<input type="search" placeholder="Zadejte hledaný výraz" /><input id="button-search" type="button" value="&nbsp;" />
</header>

<div class="center" id="buttons">
	<div class="button" id="button-add">Přidat</div>
	<div class="button" id="button-remove-all">Odstranit vše</div>
</div>

<main>
	Loading...
</main>

<script type="text/template" id="template-item-uzivatele">
	<div class="list-item">
		<div class="item-name"><%= nickname %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Uzivatele %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-item-skupiny">
	<div class="list-item">
		<div class="item-name" onclick="loadCollection('Alba', <%= id_Skupiny %>)"><%= nazev %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Skupiny %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-item-alba">
	<div class="list-item">
		<div class="item-name" onclick="loadCollection('Skladby', <%= id_Alba %>)"><%= nazev %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Alba %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-item-skladby">
	<div class="list-item">
		<div class="item-name"><%= nazev %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Skladby %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-item-clenove">
	<div class="list-item">
		<div class="item-name"><%= jmeno %> <%= prijmeni %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Clenove %>">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-item-vydavatele">
	<div class="list-item">
		<div class="item-name"><%= nazev %></div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button" data-id="<%= id_Vydavatel %>">Smazat</div>
	</div>
</script>

<!-- TEMPLATE: CREATE BAND -->

<script type="text/template" id="template-add-skupiny">
	<form id="ajax-form" method="post" action="./add/Skupiny">
		<div class="form-name">Přidat skupinu</div>

		<label>Název:</label>
			<input type="text" name="nazev">

		<label>Rok založení:</label>
			<input type="text" name="rok_zalozeni">

		<label>WWW:</label>
			<input type="text" name="www">

		<label>Historie:</label>
			<textarea name="historie" rows="6"></textarea>

		<div class="form-buttons">
			<div class="button" id="ajax-form-add">Přidat</div> <div id="ajax-form-cancel" class="button">Zrušit</div>
		</div>
	</form>
</script>


<!-- TEMPLATE: CREATE ALBUM -->

<script type="text/template" id="template-add-alba">
	<form id="ajax-form" method="post" action="./add/Alba">
		<input type="hidden" name="id_Skupiny" value="<%= special_id %>">
		<input type="hidden" name="id_Vydavatel" value="1">


		<div class="form-name">Přidat album skupině</div>

		<label>Název:</label>
			<input type="text" name="nazev">

		<label>Datum vydání:</label>
			<input type="date" name="datum_vydani">

		<label>Délka alba:</label>
			<input type="text" name="delka_alba">

		<label>Adresa k fotce:</label>
			<input type="text" name="obal">

		

		<div class="form-buttons">
			<div class="button" id="ajax-form-add">Přidat</div> <div id="ajax-form-cancel" class="button">Zrušit</div>
		</div>
	</form>
</script>

<!-- TEMPLATE: CREATE SONG -->

<script type="text/template" id="template-add-skladby">
	<form id="ajax-form" method="post" action="./add/Skladby">
		<input type="hidden" name="id_Alba" value="<%= special_id %>">

		<div class="form-name">Přidat skladbu albu</div>

		<label>Název:</label>
			<input type="text" name="nazev">

		<label>Popis:</label>
			<input type="text" name="text">

		<label>Délka skladby:</label>
			<input type="text" name="delka">

		<label>YouTube adresa:</label>
			<input type="text" name="youtube">

		

		<div class="form-buttons">
			<div class="button" id="ajax-form-add">Přidat</div> <div id="ajax-form-cancel" class="button">Zrušit</div>
		</div>
	</form>
</script>

<!-- TEMPLATE: CREATE MUSICIAN -->

<script type="text/template" id="template-add-clenove">
	<form id="ajax-form" method="post" action="./add/Skupiny">
		<div class="form-name">Přidat skupinu</div>

		<label>Jméno:</label>
			<input type="text" name="jmeno">

		<label>Příjmení:</label>
			<input type="text" name="prijmeni">

		<label>Místo narození:</label>
			<input type="text" name="misto_narozeni">

		<label>Datum narození:</label>
			<input type="date" name="datum_narozeni">

		<label>Datum úmrtí:</label>
			<input type="date" name="datum_umrti">

		<label>WWW:</label>
			<input type="url" name="www">

		<label>Historie:</label>
			<textarea name="historie" rows="6"></textarea>

		<div class="form-buttons">
			<div class="button" id="ajax-form-add">Přidat</div> <div id="ajax-form-cancel" class="button">Zrušit</div>
		</div>
	</form>
</script>

<script type="text/template" id="template-add-vydavatele">
	<form id="ajax-form" method="post" action="./add/Skupiny">
		<div class="form-name">Přidat skupinu</div>

		<label>Název:</label>
			<input type="text" name="nazev">

		<label>Datum založení:</label>
			<input type="date" name="datum_zalozeni">

		<label>Popis:</label>
			<textarea name="popis" rows="6"></textarea>

		<div class="form-buttons">
			<div class="button" id="ajax-form-add">Přidat</div> <div id="ajax-form-cancel" class="button">Zrušit</div>
		</div>
	</form>
</script>