
<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/admin.css" />

<script>
	document.addEventListener('DOMContentLoaded', init);

	function init() {
		var addTpl = $('#template-add-band').textContent;

		$('#button-add').addEventListener('click', function() {
			$('main').innerHTML = addTpl;
		});

		$('#button-remove-all').addEventListener('click', function() {
			var c = confirm('Určite odstranit vše?');
			if (!c) return;

			// xhr.open('get', '/api/bands/remove-all', true);
		});

		(function() {
			var tpl = document.querySelector('#template-item').textContent;
			var main = document.querySelector('main');
			main.innerHTML = '';

			for (var i=0; i<100; i++) {
				main.innerHTML += tpl;
			}
		})();

		document.addEventListener('click', function(e) {
			if (e.target.classList.contains('item-delete')) {
				confirm('Určitě chete odstranit tuto položku?');
			}
		});
	}
</script>

<nav>
	<div class="center">
		<a href="./wall">Zeď</a>
		<a href="">Hudba</a>
		<a href="">Hudebníci</a>
		<a href="">Vydavatelství</a>
		<a href="">Uživatelé</a>
	</div>
</nav>
<header>
		<input type="search" placeholder="Zadejte hledaný výraz" /><input id="button-search" type="button" value="&nbsp;" />
</header>

<div class="center" id="buttons">
	<div class="button" id="button-add">Přidat</div>
	<div class="button" id="button-remove-all">Odstranit vše</div>
</div>

<main>
	Loading...
</main>

<script type="text/template" id="template-item">
	<div class="list-item">
		<div class="item-name">Lorem ipsum</div>
		<div class="item-edit button">Upravit</div>
		<div class="item-delete button">Smazat</div>
	</div>
</script>

<script type="text/template" id="template-add-band">
	Add band
	<div class="button">Cancel</div>
</script>
