<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="utf-8" />
	<base href="{{BASE_URL}}" />
	<meta name="keywords" content="db2013,databáze,skupin,2013,fit,čvut" />
	
	<meta name="viewport" content="width=device-width, min-width=320, initial-scale=1, maximum-scale={{#IS_LOGGED}}5{{/IS_LOGGED}}{{^IS_LOGGED}}1{{/IS_LOGGED}}" />
	
	
	<!--<link rel="shortcut icon" href="{{LAPI_URL}}/favicon.ico" type="image/x-icon" />-->
	<!--<link rel="stylesheet" href="{{DIR_STATIC}}/styles/main.css" type="text/css" />-->
	<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/global.css" />
	<script src="{{DIR_STATIC}}/scripts/global.js"></script>
	
	<title>Databáze skupin 2013</title>
</head>
<body>
	{{BODY}}
</body>
</html>
