
<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/settings.css" />

<nav>
	<div class="center">
		<a href="./wall">Zeď</a>
		<a id="nav-bands">Uživatel</a>
		<a id="nav-musicians">Další</a>
	</div>
</nav>

<main>
	<form>
		<h1>Zažádat o moderátorská práva:</h1>
		<input type="submit" value="Zažádat" class="button">
	</form>

	<form>
		<h1>Změnit heslo</h1>
		<label>Staré heslo: <input type="password" name="oldpass"></label>
		<label>Nové heslo: <input type="password" name="newpass"></label>
		<label>Znovu nové heslo: <input type="password" name="confirmpass"></label>
		<input type="submit" value="Změnit" class="button">
	</form>

</main>