
<link rel="stylesheet" type="text/css" href="{{DIR_STATIC}}/styles/settings.css" />

<nav>
	<div class="center">
		<a href="./wall">Zeď</a>
		<a id="nav-bands">Uživatel</a>
		<a id="nav-musicians">Další</a>
	</div>
</nav>

<main>
	<div class="success_msg">{{success_msg}}</div>
	<div class="error_msg">{{error_msg}}</div>
	<form>
		<div class="form-name">Zažádat o moderátorská práva:</div>
		<div class="form-buttons">
			<input type="submit" value="Zažádat" class="button">
		</div>
	</form>

	<form method="POST">
		<div class="form-name">Změnit heslo</div>

		<input type="hidden" name="action" value="change_password" />
		<label>Staré heslo:</label>
			<input type="password" name="old_pass" />

		<label>Nové heslo:</label>
			<input type="password" name="new_pass" />

		<label>Znovu nové heslo:</label>
			<input type="password" name="confirm_pass" />

		<div class="form-buttons">
			<input type="submit" value="Změnit" class="button" />
		</div>
	</form>

</main>